*
!.*
!.*/**
!README.md
.cache/
.dbus/
.bash_history
.xsession-errors
.sudo_as_admin_successful
.Xauthority
.lesshst
.viminfo
.pki/

# confidential
.config/kdeconnect/*.pem
.config/libaccounts-glib/
.kde/share/apps/kwallet/kdewallet.kwl
.kde/share/apps/kwallet/kdewallet.salt

# .config junk
.config/pulse/*
!.config/pulse/*.*
.config/pulse/*.tdb
.config/pulse/cookie
.config/session/
.config/VirtualBox/
.config/dconf/user
.config/katemetainfos

# .kde junk
.kde/**/cache*


