*
!.*
!.*/**
!README.md
.cache/
.dbus/
.bash_history
.xsession-errors
.sudo_as_admin_successful
.Xauthority
.lesshst
.viminfo
.pki/
.mozilla/
.IdeaIC2019.1/
.ivy2
.npm
.sbt
.vscode/extensions
.java
.idea-build
.cubec*
.eclipse
.google-cloud-sdk
.gradle
.m2
.newrelic
.sdkman
.mono
.ssh
.swt
.visualvm
.zoom
.vim_mru_files
*.log
.config/gtkrc
.config.gtkrc-2.0
.config/kded_device_automounterrc
.config/gtkrc-2.0
.config/kcmdisplayrc
.swt/trims.prefs
**/.directory
.3T/
.GlobalProtect
.audacity-date
.gsutil
.gnupg

# **/*.bak

# confidential
.config/kdeconnect/*.pem
.config/libaccounts-glib/
.kde/share/apps/kwallet/kdewallet.kwl
.kde/share/apps/kwallet/kdewallet.salt
.ssh/known_hosts
.config/emailidentities
.wget-hsts

# .config junk
.config/pulse/*
!.config/pulse/*.*
.config/pulse/*.tdb
.config/pulse/cookie
.config/session/
.config/VirtualBox/
.config/dconf/user
.config/katemetainfos
.config/Code*
.config/google-chrome
.config/vlc/

# .kde junk
.kde/**/cache*
.kde/socket*
.kde/tmp*
.kde/share/config/kdebugrc
.kde/share/config/drkonqirc
.kde/share/config/kmixrc
.kde/share/config/kconf_updaterc
.kde/share/config/kuriikwsfilterrc
.kde/share/config/kio_httprc
.kde/share/config/kioslaverc
.kde/share/config/phonondevicesrc
.kde/share/config/kcookiejarrc

# .local junk
.local/share/akonadi
.local/share/baloo
.local/share/dolphin
.local/share/Enpass
.local/share/fish
.local/share/kactivitymanager
.local/share/kate
.local/share/kcookiejar
.local/share/klipper
.local/share/kscreen
.local/share/ktorrent
.local/share/kwalletd
.local/share/RecentDocuments
.local/share/sddm/*.log
.local/share/teamviewer14
.local/share/thumbnail.so
.local/share/Trash
.local/share/kactivitymanagerd/resources
.local/share/recently-used.xbel
.local/share/*.tbcache
.local/share/*.bak
.local/share/TelegramDesktop
.local/share/JetBrains
.local/share/vlc/ml.xspf
/.local/share/plasmashell/interactiveconsoleautosave.js
.local/share/apps/korganizer
.local/share/contacts
.local/share/kded5/keyboard
.local/lib
.local/bin

# .config

.config/akonadi*
.config/libreoffice/
.local/share/knewstuff3/
.local/share/krita/
.config/inkscape
.config/git-cola
.local/share/Anki*
.local/share/okular
.config/Trolltech.conf
.config/QtProject.conf
.config/emaildefaults
.config/kactivitymanagerd-statsrc
.config/sinew.in/Enpass.conf
.config/startupconfigfiles
.config/configstore/update-notifier-npm.json
.config/discoverrc
.config/drkonqirc
.config/kfindrc
.config/kgammarc
.config/kritadisplayrc
.config/kmenueditrc
.config/kritarc
.config/knotifyrc
.config/ksysguardrc
.config/lo_kde5filepickerrc
.config/pimsettingexporterrc
.config/sddmthemeinstallerrc
.config/sinew.in/Enpass.conf
.config/specialmailcollectionsrc
.config/startupconfigfiles
.config/systemsettingsrc
.config/gwenviewrc
.config/khelpcenterrc
.config/menus/applications-merged/xdg-desktop-menu-dummy.menu
.config/kconf_updaterc
.config/ktorrent_infowidgetrc
.config/ktorrent_infowidgetrc
.config/webengineurlinterceptoradblockrc

# applications

/**/gwenview
/**/ksysguard
/**/teamviewer
/**/VirtualBox*
/**/akregator*
/**/baloofile*
/**/bluedevil*
/**/kmail*
/**/kmix*
/**/korgac*
/**/systemmonitor*
